@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';

// CONTAINERS AND DISPLAYS
.container_65{
    width: 65%;
    margin: auto;
}
.central_align{
    display: flex;
    justify-content: center;
    align-items: center;
}

// GENERALS
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

// TEXTS
.font_xs{
    font-size: 12px;
}
.font_tnr{
    font-family: 'Times New Roman', Times, serif;
}
.main_text_color{
    color: $main_text_color;
}
.section_title{
    color: $main_text_color;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

// GRAPHICS
.orange_btn{
    display: inline-block;
    background-color: $main_color;
    padding: 10px 25px;
    color: white;
}

//CARDS
.card_title{
    font-size: 25px;
    color: $main_text_color;
}
.card_subtitle{
    font-size: 15px;
    color: lighten($main_text_color, 20%);
}